[Unit]
Description=Refresh JupyterLab notebooks from Object Storage
After=network-online.target
Wants=network-online.target
Before=user-podman.service

[Service]
Type=oneshot
TimeoutStartSec=300
Environment=JL_NOTEBOOKS_ARCHIVE_URL=https://objectstorage.us-ashburn-1.oraclecloud.com/p/Pg8kffjHaKzjj8pCnMbUaNmik_JBnNO-MXsaIva4iUQBFZK52oLykmY3mIhai9MS/n/axywji1aljc2/b/kirkstorage/o/dev-rel-notebooks.zip
Environment=JL_NOTEBOOKS_TARGET_DIR=/home/opc/ingestion/jl_notebooks
ExecStart=/bin/bash /home/opc/init/sync-jl-notebooks.sh

[Install]
WantedBy=default.target
